{% extends 'base.html' %}
{% block title %}
  Orion Technologies | സൂര്യ ഘർ
{% endblock %}
{% block section_one %}
  <section class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <iframe src="https://www.pmsuryaghar.gov.in/knowledge" frameborder="0" class="news"></iframe>
          <hr />
          <iframe src="https://www.pmsuryaghar.gov.in/financialAssistanceReport" frameborder="0" class="news"></iframe>
        </div>
        <div class="col-md-3">
          <div class="alert alert-info" role="alert">
            <h2 class="h2">എന്താണ് SURYA GHAR?</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
