{% load static %}
{% include 'support/header.html' %}
<div class="container battery-s1">
  <h1>Battery</h1>
  <p>Power Your Life with Top-Quality Inverter Batteries at Affordable Prices in Kerala. Explore a Wide Range of Options for Home and More – Your tdusted Source for Inverter Battery Solutions.</p>
</div>
<div class="container battery-s2 flex wrap justify-center">
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-100-AH-BATTERY-LG1048TT.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 100 AH BATTERY LG1048TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-110-AH-BATTERY-LG1160TT.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 110 AH BATTERY LG1160TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-120-AH-BATTERY-LG1248bed.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 120 AH BATTERY LG1248bed</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-150-AH-BTERY-LATG1560TT-300x278.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 150 AH BATTERY LATG1560TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-150-AH-BATTERY-LG1536FP-300x204.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 150 AH BATTERY LG1554TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-150-AH-BATTERY-LG1542.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 150 AH BATTERY LG1560 MT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-150-AH-BATTERY-LG1545TT-300x251.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 160 AH BATTERY LG1639TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-150-AH-BATTERY-LG1554STJ.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 160 AH BATTERY LG1666TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-150-AH-BATTERY-LG1554TT.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 150 AH BATTERY LG1542</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-150-AH-BATTERY-LG1560-MT.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 150 AH BATTERY LG1545TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-160-AH-BATTERY-LG1639TT.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 150 AH BATTERY LG1554STJ</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-160-AH-BATTERY-LG1666TT-300x242.png' %}" alt="">
        <sub>BATTERY</sub>
        <p>LIVGUARD 100 AH BATTERY LG1048TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
</div>
{% include 'support/footer.html' %}
