{% load static %}
{% include 'support/header.html' %}
<div class="container battery-s1">
  <h1>Solar products</h1>
  <p>Solar Products for Homes and Businesses in Kerala. Discover Top-Quality Solar Solutions at Affordable Prices. Ideal for IT Firms, Hospitals, Educational Institutes, and More</p>
</div>
<div class="container battery-s2 flex wrap justify-center">
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-1-KVA-OFF-GRID-SOLAR-PACKAGES-300x300.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD 1 KVA OFF-GRID SOLAR PACKAGES</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-100-AH-SOLAR-BATTERY-LGMLS10060TT.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD 100 AH SOLAR BATTERY LGMLS10060TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-135-AH-SOLAR-BATTERY-LGMLS13560TT.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD 135 AH SOLAR BATTERY LGMLS13560TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-150-AH-SOLAR-BATTERY-LGMLS15060TT-1.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD 150 AH SOLAR BATTERY LGMLS15060TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-165-AH-SOLAR-BATTERY-LGMLS16560TT.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD 165 AH SOLAR BATTERY LGMLS16560TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-180-AH-SOLAR-BATTERY-LGMLS18060TT.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD 180 AH SOLAR BATTERY LGMLS18060TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-200-AH-SOLAR-BATTERY-LGTLS20060TT.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD 200 AH SOLAR BATTERY LGTLS20060TT</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-30-AMPS-SMU-LSMU-122430.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD 30 AMPS SMU LSMU 122430</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-40-AH-SOLAR-BATTERY-LGTLS4036ST.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD 40 AH SOLAR BATTERY LGTLS4036ST</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-75-AH-SOLAR-BATTERY-LGTLS7536ST.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD 75 AH SOLAR BATTERY LGTLS7536ST</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-SOLAR-INVERTER-LS0G3500.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD SOLAR INVERTER LS0G3500</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-SOLAR-INVERTER-LSOG1150-300x174.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD SOLAR INVERTER LSOG1150</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
</div>
{% include 'support/footer.html' %}
