{% load static %}
{% include 'support/header.html' %}
<div class="container battery-s1">
  <h1>Solar products</h1>
  <p>Solar Products for Homes and Businesses in Kerala. Discover Top-Quality Solar Solutions at Affordable Prices. Ideal for IT Firms, Hospitals, Educational Institutes, and More</p>
</div>
<div class="container battery-s2 flex wrap justify-center">
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-INVERTER-LG700-300x240.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD INVERTER LG700</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-INVERTER-LGS1100-300x245.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD INVERTER LGS1100</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-INVERTER-LGS1700-300x245.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD INVERTER LGS1700</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-INVERTER-LGS2300-300x205.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD INVERTER LGS2300</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-INVERTER-LGS3500.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD INVERTER LGS3500</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-INVERTER-LGS5000.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD INVERTER LGS5000</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/LIVGUARD-INVERTER-LGS900-300x245.png' %}" alt="">
        <sub>Livguard</sub>
        <p>LIVGUARD INVERTER LGS900</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/ORION-1100-VA-12-V-SINE-WAVE-UPS-300x300.png' %}" alt="">
        <sub>Livguard</sub>
        <p>ORION 1100 VA 12 V SINE WAVE UPS</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/ORION-INVERTER-1250VA.png' %}" alt="">
        <sub>Livguard</sub>
        <p>ORION INVERTER 1250VA</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
    {% comment %} card starts {% endcomment %}
    <div class="battery-card">
        <img src="{% static 'img/ORION-INVERTER-2000VA.png' %}" alt="">
        <sub>Livguard</sub>
        <p>ORION INVERTER 2000VA</p>
        <table>
            <thead>
                <tr>
                    <td>Brand</td>
                    <td>Livguard</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Recommended Uses For Product</td>
                    <td>Home</td>
                </tr>
                <tr>
                    <td>Power Source</td>
                    <td>Battery Powered</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% comment %} card ends  {% endcomment %}
</div>
{% include 'support/footer.html' %}
