<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCustomerModalLabel">Add New Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addCustomerForm" method="POST" action="{% url 'customers:add_customer' %}" class="dashboard_form d-flex flex-column p-5">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="orion-red-button">Create Customer</button>
        </form>
      </div>
    </div>
  </div>
</div>
