{% load static %}
{% include 'support/header.html' %}

<div class="flex-coloum container-form mt-100">
  <form class="form" action="" method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <input type="text" placeholder="Name*" required />
    <input type="tel" placeholder="Phone Number*" required />
    <input type="email" placeholder="Email id" />
    <textarea name="address" id="address" cols="30" rows="10" placeholder="address"></textarea>
    <input type="button" value="Submit Complaint" /> {% endcomment %}
    <input type="submit" value="Register as a customer" onclick="success_message()" class="reg" />
  </form>
  <p style="color: green; display: none;" id="show">You have been registerd as a customer. Login with your Phone Number</p>
</div>
{% include 'support/footer.html' %}
